<h2>Edit Product</h2>

<form action="/products/<%= @product.id %>" method="post">
  <!-- Workaround to send patch request since browser will only recognize get or post from a form -->
  <input type="hidden" name="_method" value="patch">
  <div>
    Name: <input type="text" name="name" value="<%= @product.name %>">
  </div>
  <div>
    Description: <input type="text" name="description" value="<%= @product.description %>"">
  </div>
  <div>
    Price: <input type="text" name="price" value="<%= @product.price %>"">
  </div>
  <div>
    <%if @product.in_stock%>
    In stock?: <input type="checkbox" name="in_stock" value="true" checked>
    <%else%>
        In stock?: <input type="checkbox" name="in_stock" value="true">
    <%end%>
  </div>
  <!-- TO-DO: Logic to have supplier drop-down pre-populate with existing value -->
  <div>
    Supplier ID: <input type="text" name="supplier_id" value=<%= @product.supplier_id %> >
  </div>
  <div>
    <button type="submit">Update Product</button>
  </div>
</form>